{{!-- Modified by BW-Tech GmbH: keep the button title aligned with the translated display text. --}}
<td>
	<a class="action permanent impersonate" href="#" title="{{displayText}}" aria-label="{{displayText}}">
		<img class="svg permanent action" src="{{impersonate_src}}" alt="" />
	</a>
</td>
